header h1 {
	font-size: 3em;
	color: #A901DB;
	text-shadow: 2px 1px #BDBDBD;
}

nav ul{
    padding: 0;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: #A9D0F5;
}

main h1 {
    clear: both;
}

main img {
    float: right;
}

main li {
    color: #2E2EFE;
}

footer {
    background-color: #a9a9f5;
    text-align: center;
    clear: both;
}

/*****************************************************
*  Classes
********************************************************/
.myimage {
    width: 200px;
}