/* box model reset - add margin to outside, subtract padding from inside */
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*  Body Rules  */
body {
    font-family: Verdana;
    font-size: 16px; /* default value */
}

/*  Header Rules */
header {
    background-color: #deceb7;
    padding: 1rem 2%; /* 1 rem - 1 x base font (16px) */
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
}

/*  Navigation Rules  */
nav {
    background-color: #54391c;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li.active {
    background-color: #634b30;
}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #775127;
}

/*  Main Rules  */
main {
    padding: 1rem 2%;
    display: block;
}
main h1 {
    color: #deceb7;
}
main figure img {
    width: 100%;
}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {
    text-align: center;
    font-size: .8rem;
}
div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}

/*  Footer Rules  */ 
footer {
    text-align: center;
    padding: 1rem 2%;
}








.clearfix:after {
    content: "";
    display: table;
    clear: both;
}