/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    header img {width: auto;}
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
    nav ul li {width: 20%; float: left;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
    main figure.myphoto {
        width: 48%;
        float: right;
        margin-left: 2%;
        padding-bottom: .5rem;
    }

/*----------- FOOTER --------------*/
    
} /* end of media query */