/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/
    

/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/
    nav li {
        float: left;
        width: 20%;
    }
    nav .hide {
        display:  contents;
    }
    nav button {
        display: none;
    }

/*----------- MAIN --------------*/
    main section.weatherstat {
        width: 18%;
        font-size: .75rem;
      /*  position: absolute;
        margin-top: 1.5rem;
        left: 2rem;*/
    }
    main section.weatherstat p {
        font-size: .6rem;
    }
    main section.weatherstat h3 {
        font-size: 1rem;
    }
    
   /* 
    div.row section:nth-child(1) {
        width: 50%;
        float: left;
    }
    div.row section:nth-child(2) {
        width: 50%;
        float: left;
    }*/
    .temples {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .temples div{
        width: 46%;
    }
   
/*--------------- Temples Json Info -----------------*/
.templeinfo div {
    margin: 0;
    width: 100%;
    font-size: .65rem;
}

/*----------- Temple Activities -----------*/
    .activities figure {
    flex-basis: 46%;
    }
    
/*----------- Form ------------*/
     
    
/*----------- FOOTER --------------*/
    .addressinfo {
        float: left;
        font-size: .75rem;
        width: 33%;
    }
    .phoneinfo {
        float: left;
        font-size: .75rem;
        width: 33%;
    }
    .showlocation {
        float: left;
        font-size: .75rem;
        width: 33%;
    }
    .maplogo {
        width: 20%;
    }
   
/* end of media query */