/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {
        padding-left: 2%;
    }
    nav ul li {
        width: auto;
    }
    nav a {
        padding: .5rem 1rem;
    }
    
/*----------- MAIN --------------*/
   /* .activities figure {
        flex-basis: 29%;
    }*/
    .temples div{
        width: 24%;
        margin: 2% auto;
    }
    
/*---------------- Weather -----------------*/
     main section.weatherstat {
        left: 5rem;
        position: absolute;
    }
    main section.weatherstat p {
        font-size: 1rem;
    }
    main section.weatherstat h3 {
        font-size: 1.25rem;
    }
    
/*--------------- Temples Json Info -----------------*/
    .templeinfo div {
        margin: 0;
        width: 100%;
        font-size: .65rem;
    }
    
/*----------- FOOTER --------------*/
    
} /* end of media query */